* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  --black: #0d114f;
  --white: #fafafa;
  --light-blue: #e0ecff;
  --blue: #3485ff;
  --background: #f6faff;
  --red:#e83f5b;
  --overlay: #040911;
  --icons-details: #a5b0c1;
  --gray-dark: #4d5e77;
  --gray-blue: #a1b2cd;
  --gray-light: #e5eaf1;
  --gray-medium: #eaecf2;


}

body {
  height: 100vh;
  display: flex;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}
.content {
  width: 100%;
  margin: 0 auto;

}
.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

input, button, .button {
  border-radius: 8px;
  height: 5rem;
}

button, .button {
  font-family: 'Poppins';
  font-weight: 500;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3485ff;
  color: #fafafa;
  cursor: pointer;
  transition: filter  0.2s;
}

button:hover , .button:hover {
  filter: brightness(1.2);
}

button i, .button i {
  margin-right: 1rem;
  width: 0.2rem;
}

button.outlined ,
.button.outlined {
  background: #fafafa;
  color: #3485ff;
  border: #3485ff solid 0.2rem;
}

button.red , .button.red {
  background: #e83f5b;
  color: #fafafa;
}
button.grey , .button.grey {
  background: var(--gray-light);
  color: var(--gray-dark);
}

/* header */

.content header {
  width: 80%;
  margin: 3.5rem auto;

}

.content header img {
  width: 16.7rem;
}